body {
    background: #0b0b0b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #FFD700;
    margin-top: 20px;
}

.usuarios-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    gap: 20px;
}

.card-user {
    width: 240px;
    background: #1b1b1b;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.card-user:hover {
    transform: scale(1.05);
}

.avatar {
    font-size: 50px;
    margin-bottom: 10px;
}

.email {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 10px;
}

.info p {
    margin: 4px 0;
}

.btn-perfil {
    display: inline-block;
    margin-top: 12px;
    background: #007bff;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-perfil:hover {
    background: #0056b3;
}
